body{
	background-color: #66B032;
	text-align: center;
	padding: 80px;

/*
	background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	background-image: radial-gradient(circle, red, yellow, green); */

	width: auto;
        height: 200px;
        background-color: grey;
        animation-name: body;
        animation-duration: 10s;
}

@keyframes body {
  0%   {background-color: green;}
  14.3%   {background-color: orange;}
  28.6%  {background-color: yellow;}
  50%  {background-color: red;}
  64.3%  {background-color: blue;}
  78.6%  {background-color: indigo;}
  100% {background-color: violet;}
}

h1{
	color: #666666; 
	font-size: 90px;
	font-family: "Times New Roman" , sans-serif;

	text-shadow: 6px 6px 5px #092834;
	
}

a h1 {
	background-image: url("images/ramen.png"), url("images/salad.png");
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right top;
	margin-left: 150px;
	margin-right: 150px;
	background-attachment: scroll;
	background-size: 100px;
}

.heading {
	color: #F0F7D4;
	font-size: 50px;
	padding: 20px;
}

p {
	text-align: left;
}

.content {
	background-color: #F0F7D4;
	font-size: 28px;

	background-image: url("images/img_flwr.gif"), url("images/paper.gif");
	background-repeat: no-repeat, repeat;
	background-position: right bottom, left top;
	padding: 15px;

	border-radius: 150px;
}

#content {
	border: 100px solid transparent;
	padding: 50px;
}


#list-content{
	display: inline-block;
	color: #347B98;
	font-weight: bold;
}

div ol li {
	padding-bottom: 30px;
	padding-top: 70px;
}

.list-content{
	text-align: left;
	display: inline-block;
	color: #347B98;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
}

a {
	color: #347B98;
	text-decoration: none;
}

img{
	width: 500px;
	height: auto;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;

	border: 1px solid #ddd;
	border-radius: 40px;
	padding: 5px;

	/*-webkit-box-reflect: right;
	 */

}

img:hover {
	box-shadow: 0 0 2px 1px rgba(0 140, 186, 0.5);
}

.hov:hover {
	opacity: 0.6;
}

